<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://unpkg.com/ionicons@4.4.4/dist/css/ionicons.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700" rel="stylesheet">
    <title><%= userData.username %> Profile - Comicbook</title>
</head>
<body>

    <!-- IMPLEMENTING NAVIGATION -->
    <% include ../partials/navigation.ejs %>

    <main>
        <div class="standard-wrapper">
            <header class="user-header">
                <div class="user-header__images">
                    <div class="user-background-img">
                        <img data-lazy="<%= userData.bkImage %>" class="user-background-img__image">
                        <div class="user-background-img__fm">
                            <% include ../partials/flash-messages.ejs %>
                        </div>
                        <div class="user-background-img__bkImage-icon-wrap">
                            <h3>Change Image<i class="icon ion-ios-camera user-background-img__cam-icon"></i></h3>
                            <!-- HIDDEN FORM -->
                            <form class="user-background-img__hidden-form" id="profileFormBkImage" action="/user-profile/<%=userData.username.toLowerCase()%>?_method=PUT" method="POST" enctype="multipart/form-data" onchange="autoSubmitBkImage()">
                                <input type="file" id="profileBkImage" name="userBkImage" accept="image/*" class="user-background-img__hidden-input">
                            </form>
                        </div>
                    </div>
                    <!-- HIDDEN FORM -->
                    <form class="user-image__hidden-form" id="profileFormImg" action="/user-profile/<%=userData.username.toLowerCase()%>?_method=PUT" method="POST" enctype="multipart/form-data" onchange="autoSubmitImage()">
                        <input type="file" id="profileImg" name="userImage" accept="image/*" class="user-image__hidden-input">
                    </form>
                    <div class="user-image">
                        <div class="user-image-wrap__circle-1-b"></div>
                        <div class="user-image-wrap__circle-2-b"></div>
                        <img data-lazy="<%= userData.image %>" class="user-image__image">
                        <i class="icon ion-ios-camera iconUnvisible user-image-icon"></i>
                    </div>
                </div>
                <div class="user-content">
                    <h2 class="user-content__username"><%= userData.username %></h2>
                    <p class="user-content__bio-short"><%= userData.bioShort %></p>
                </div>
            </header>

            <% if (orders.length > 0) { %>
                <section class="user-orders">
                    <div class="user-orders__heading">
                        <h1>&mdash; Your Orders &mdash;</h1>
                    </div>
                    <div class="user-orders-list">
                        <% orders.forEach(order => { %>
                            <% for (const product in order.cart.items) { %>
                                <div class="up-order">
                                    <div class="up-order__wrapper">
                                        <img data-lazy="<%= order.cart.items[product].item.image %>" class="up-order__image">
                                        <div class="up-order__text-wrap">
                                            <h1 class="up-order__name"><%= order.cart.items[product].item.name %></h1>
                                            <h2 class="up-order__desc"><%= order.cart.items[product].item.descriptionShort %></h2>
                                            <h3 class="up-order__rating"><i class="icon ion-ios-star"></i> <%= order.cart.items[product].item.rating %></h3>
                                        </div>
                                    </div>
                                </div>
                            <% }; %>
                        <% }) %>
                    </div>
                </section>
            <% } else { %>
                <div class="user-orders__heading">
                    <h1>&mdash; You don't have any orders &mdash;</h1>
                </div>
            <% } %>

            <!-- IMPLEMENTING FOOTER -->
            <% include ../partials/footer.ejs %>
        </div>
    </main>

</body>
</html>