<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://unpkg.com/ionicons@4.4.4/dist/css/ionicons.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700" rel="stylesheet">
    <title>Shopping Cart - Comic Book</title>
</head>
<body>

    <!-- IMPLEMENTING NAVIGATION -->
    <% include ../partials/navigation.ejs %>

    <main>
        <% if (!currentUser) { %>
        <div class="standard-wrapper" style="padding-left: 0;">
        <% } else { %>
        <div class="standard-wrapper">
        <% }; %>
        <div class="shopping-cart-wrapper">
            <!-- HEADER | START -->
            <header class="shopping-cart-header">
                <div class="shopping-cart-header__content">
                <% include ../partials/flash-messages.ejs %>
                <% if (session.cart) { %>
                    <h1>Your Shopping Cart:</h1>
                    <div class="shopping-cart-header__content-list">
                        <h2 class="shopping-cart-header__content-list__data-1">Items in cart: <span><%= session.cart.totalQnty %></span> &mdash;</h2>
                        <h2 class="shopping-cart-header__content-list__data-2">Total amount to pay: <span><%= session.cart.totalPrice %>&dollar;</span></h2>
                    </div>
                    <div class="shopping-cart-header__buttons">
                        <a href="/clear-cart" class="btn-payNow shopping-cart-header__button-header" style="margin: 0 .4rem;">Clear Cart</a>
                        <a href="/checkout" class="btn-payNow shopping-cart-header__button-header">Checkout <i class="icon ion-ios-arrow-forward"></i></a>
                    </div>
                <% } else { %>
                    <h1>Your Shopping Cart is Empty</h1>
                <%  } %>
                </div>
            </header>
            <!-- HEADER | END -->

            <!-- ITEMS IN CART | START -->
            <% if (session.cart) { %>
            <section class="cart-final">
                <div class="cart-final__content">
                    <% for (const product in session.cart.items) { %>
                        <div class="cart-final-item">
                            <figure class="cart-final-item__img-fig">
                                <img data-lazy="<%= session.cart.items[product].item.image %>">
                            </figure>
                            <div class="cart-final-data">
                                <h3 class="cart-final-data__name"><%= session.cart.items[product].item.name %> &mdash;</h3>
                                <div class="cart-final-data__price-wrap">
                                    <h4 class="cart-final-data__price-wrap__price">&dollar; <%= session.cart.items[product].price %></h4>
                                    <h4 class="cart-final-data__price-wrap__quantity"><%= session.cart.items[product].qnty %></h4>
                                </div>
                            </div>
                            <a href="reduce/<%= session.cart.items[product].item._id %>" class="cart-final-item__remove"><i class="icon ion-ios-close"></i></a>
                        </div>
                    <% }; %>
                </div>
            </section>
            <% } %>
            <!-- ITEMS IN CART | END -->

            <!-- IMPLEMENTING FOOTER -->
            <% include ../partials/footer.ejs %>
        </div>
    </main>

</body>
</html>