<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://unpkg.com/ionicons@4.4.4/dist/css/ionicons.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700" rel="stylesheet">
    <title><%= searchVal %> - Shop</title>
</head>
<body>
    
    <!-- IMPLEMENTING NAVIGATION -->
    <% include ../partials/navigation.ejs %>

    <main>
    <!-- WEBSITE CONTENT -->
    <% if (!currentUser) { %>
    <div class="new-wrapper" style="left: 0;">
    <% } else { %>
    <div class="new-wrapper">
    <% } %>
        <!-- SEARCH RESULTS | START -->
        <div class="results">
            <h3 class="results__text">Search results: <span><%= searchVal %></span></h3>
            <h4 class="results__num">Displaying <span><%= numOfResults %></span> Results</h4>
        </div>
        <!-- SEARCH RESULTS | END -->
        <!-- SHOP | START -->
        <% if (noMatch !== undefined) { %>
            <h2 class="no-match"><%= noMatch %></h2>
        <% } %>
        <section class="shop">
            <div class="shop-container">
                <!-- ITEM 1 EJS WAY -->
                <% comicbooks.forEach(comicbook => { %>
                <div class="item">
                    <div class="shop-row shop-row--1"><img data-lazy="<%= comicbook.image %>" class="sp-cover-img"></div>
                    <div class="item-desc">
                        <h2 class="item-desc__name"><%= comicbook.name %></h2>
                        <p class="item-desc__text"><%= comicbook.descriptionShort %></p>
                        <h3 class="item-desc__rating"><i class="icon ion-ios-star"></i> <%= comicbook.rating %> &dash; <span>Based on <%= comicbook.ratings %> ratings</span></h3>
                        <h3 class="item-desc__price">&dollar; <%= comicbook.price %><a class="item-desc__button btn-1 buyBtn" data-itemid='<%= comicbook._id %>'>buy</a></h3>
                    </div>
                </div>
                <% }); %> 
                <!-- ITEM 2  TEMPLATE FOR ITEM
                <div class="item">
                    <div class="shop-row shop-row--2"><img data-lazy="https://drive.google.com/uc?export=view&id=1lhvRGGkJ37oCIrJu8tnov2DFDpX7RWfr" class="sp-cover-img"></div>
                    <div class="item-desc">
                        <h2 class="item-desc__name">The Amazing Spider-Man <br>The Green Goblin Last Stand</h2>
                        <p class="item-desc__text">Green goblin and hist last stand.</p>
                        <h3 class="item-desc__rating"><i class="icon ion-ios-star"></i> 4.2 &dash; <span>Based on 9 ratings</span></h3>
                        <h3 class="item-desc__price">&dollar; 55 <button class="item-desc__button btn-1">buy</button></h3>
                    </div>
                </div> -->
            </div>
            <% if (noMatch) { %>
            <div class="shop-pagination">
                <div class="pagination">
            </div>
            </div>
            <% } else { %>
            <div class="shop-pagination">
                <div class="pagination">
                    <% if (currentPage == 1 && pages > 1) { %>
                        <a href="/shop/<%= parseInt(currentPage) + 1 %>/?search=<%=searchVal%>" class="btn-inline pagination__btn--next">
                            <span>Page <%=  parseInt(currentPage) + 1 %><i class="icon ion-ios-arrow-forward"></i></span>
                        </a>
                    <% } else if (currentPage < pages) { %>
                        <a href="/shop/<%= parseInt(currentPage) - 1 %>/?search=<%=searchVal%>" class="btn-inline pagination__btn--prev">
                            <span><i class="icon ion-ios-arrow-back"></i>Page <%= parseInt(currentPage) - 1 %></span>
                        </a>
                        <a href="/shop/<%= parseInt(currentPage) + 1 %>/?search=<%=searchVal%>" class="btn-inline pagination__btn--next">
                            <span>Page <%= parseInt(currentPage) + 1 %><i class="icon ion-ios-arrow-forward"></i></span>
                        </a>
                    <% } else if (currentPage == pages && pages > 1) { %>
                        <a href="/shop/<%= parseInt(currentPage) - 1 %>/?search=<%=searchVal%>" class="btn-inline pagination__btn--prev">
                            <span><i class="icon ion-ios-arrow-back"></i>Page <%= parseInt(currentPage) - 1 %></span>
                        </a>
                    <% } %>
                </div>
            </div>
            <% } %>
        </section>
        <!-- SHOP | END -->
        <% include ../partials/footer.ejs %>
    </div>
    </main>

</body>
</html>