<% if (currentUser) { %>
<!-- SIDE NAVIGATION | START -->
<div class="primary-nav">
    <button href="#" class="hamburger open-panel nav-toggle active"> <!-- Hamburger icon -->
        <span class="screen-reader-text">Menu</span>
    </button>
    <nav role="navigation" class="menu">
        <a href="/" class="logotype">COMIC<span>BOOK</span></a> <!-- LOGO -->
        <div class="overflow-container">
            <div class="user-mini-nav"> <!-- Small user nav -->
                    <a href="/user-profile/<%= currentUser.username.toLowerCase() %>">
                        <div class="user-image-wrap">
                            <div class="user-image-wrap__circle-1"></div>
                            <div class="user-image-wrap__circle-2"></div>
                            <img data-lazy="<%= currentUser.image %>" alt="Users Image" class="user-image-wrap__image">
                        </div>
                    </a>
                    <h2 class="user-name"><%= currentUser.username %></h2>
            </div>
            <ul class="menu-dropdown"> <!-- Navigation elements -->
                <li><a href="/" class="slide-effect">Home</a><i class="icon ion-ios-home menu-i"></i></li>
                <li><a href="/shop" class="slide-effect">Shop</a><i class="icon ion-ios-cash menu-i"></i></li>
                <li><a href="#" class="slide-effect">Wishlist</a><i class="icon ion-ios-heart menu-i"></i></li>
                <li><a href="/settings/<%= currentUser.username.toLowerCase() %>" class="slide-effect">Settings</a><i class="icon ion-ios-settings menu-i"></i></li>
            </ul>
            <div class="log-out">
                <a href="/logout" class="log-out__text"><i class="icon ion-ios-log-out"></i>Log Out</a>
            </div>
        </div>
    </nav>
</div>            
<!-- SIDE NAVIGATION | END -->

<!-- TOP NAVIGATION | START -->
<div class="secondary-nav-wrap">
    <div class="secondary-nav">
        <nav role="navigation" class="top-menu">
            <!-- SEARCH FORM-->
            <form action="/shop/1" method="GET" class="search-form">
                <input type="text" name="search" class="search-form__input" placeholder="Search Comics, Issues . .">
                <button type="submit" class="search-form__button"><i class="icon ion-ios-search search-form__icon"></i></button>
            </form>
        </nav>
        <div class="user-nav">
        <!-- WISHLIST | START -->
            <div class="user-nav__icon-box">
                <i class="icon ion-ios-heart-empty user-nav__icon"></i>
                <span class="user-nav__notification">0</span>
                <div class="user-list">
                    <ul class="user-list__list">
                        <h2 class="user-list__empty">Your Wishlist is Empty</h2>
                        <!--
                        <li>   
                            <a href="#" class="user-list__link">
                                <figure class="user-list__fig">
                                    <img data-lazy="../../img/spider-man/cover-1.jpg" alt="Item 1">
                                </figure>
                                <div class="user-list__data">
                                    <h3 class="user-list__name">Spider-Man Vs. Venom</h3>
                                    <h4 class="user-list__price">&dollar; 45</h4>
                                </div>
                                <div class="user-list__remove"><i class="icon ion-ios-close"></i></div>
                            </a>
                        </li>
                    -->
                    <div class="user-list__single-button">
                        <a href="#" class="user-list__wishlist">Wishlist &rarr;</a>
                    </div>
                    </ul>
                </div>
            </div>
            <!-- WISHLIST | END -->
            <!-- SHOPPING CART | START -->
            <% include ./nav-cart.ejs %>
            <!-- SHOPPING CART | END -->
            <!-- NOTIFICATIONS | START -->
            <div class="user-nav__icon-box">
                <i class="icon ion-ios-notifications-outline user-nav__icon"></i>
                <span class="user-nav__notification">0</span>
                <div class="user-list">
                    <ul class="user-list__list">
                        <h2 class="user-list__empty">No Notifications</h2>
                        <!--
                        <li>   
                            <a href="#" class="user-list__link">
                                <figure class="user-list__fig">
                                    <img data-lazy="../../img/spider-man/cover-1.jpg" alt="Item 1">
                                </figure>
                                <div class="user-list__data">
                                    <h3 class="user-list__name">Spider-Man Vs. Venom</h3>
                                    <h4 class="user-list__price">&dollar; 45</h4>
                                </div>
                                <div class="user-list__remove"><i class="icon ion-ios-close"></i></div>
                            </a>
                        </li>
                    -->
                    <div class="user-list__single-button">
                        <a href="#" class="user-list__notifications">Notifications &rarr;</a>
                    </div>
                    </ul>
                </div>
            </div>
            <!-- NOTIFICATIONSS | END-->
            <div class="user-nav__user">
                    <% if (currentUser) { %>
                    <a href="/user-profile/<%= currentUser.username.toLowerCase() %>" class="user-nav__link-wrap">
                        <img data-lazy="<%= currentUser.image %>" alt="User Photo" class="user-nav__user-photo">
                        <span class="user-nav__user-name"><%= currentUser.username %></span>
                    </a>
                    <% } %>
            </div>
        </div>
    </div>
</div>
<!-- TOP NAVIGATION | END -->
<% } else if (!currentUser) { %>
    <% include ./miniNavigation.ejs %>
<% } %>